/* assets/css/style.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* Menggunakan font Inter dari config */
body {
    font-family: 'Inter', sans-serif;
}

/* Sembunyikan elemen AOS sebelum diinisialisasi untuk
  mencegah "flash" konten sebelum animasi.
*/
[data-aos] {
    opacity: 0;
    transition-property: transform, opacity;
}
